<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <title> Autorization</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/main">Broad system</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
         <li class="nav-item">
          <a class="nav-link" href="/main/autorization">Autorization
            <span class="visually-hidden"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/main/registration">Registration
            <span class="visually-hidden"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


    <form action="/main/autorization" method="POST">
    <div class="center">
        <div class="form-group">Login<input type="text" class="form-control change" id="username" name="username" placeholder="login"></div>
        <div class="form-group">Password<input type="password" class="form-control change" id="password" name="password" placeholder="password"></div>
        <button type="submit" id="button" class="btn btn-outline-primary button">Sign in</button>
    </div></form>
</body>
</html>