<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <title> Autorization</title>
</head>
<body>
    <div class="center">
        <div class="form-group">Login<input type="text" class="form-control change" id="login" placeholder="login"></div>
        <div class="form-group">Password<input type="password" class="form-control change" id="password" placeholder="password"></div>
        <button type="button" id="button" class="btn btn-outline-primary button">Sign in</button>
    </div>
</body>
</html>