<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/allPeople.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/main">Broad system</a>
 
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
         <li class="nav-item">
          <a class="nav-link" href="/main/autorization">Autorization
            <span class="visually-hidden"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/main/registration">Registration
            <span class="visually-hidden"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/page/allPerson">All People
            <span class="visually-hidden"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/page/allCountry">All Country
            <span class="visually-hidden"></span>
          </a>
        </li>
        <li class="nav-item dropdown" id="nav">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/page/addPerson">Add Person</a>
            <a class="dropdown-item" href="/page/addCountry">Add Country</a>
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>
<input type="hidden" id="id" value="{{id}}">
<div  class="cardInfoPerson">
  <div class="card text-white bg-primary mb-3">
  <div class="card-header">Peron Information</div>
  <div class="card-body" id="personInfo">
  </div>
</div>
</div>
<div id="countryInfo" class="grid-container">
  

</div>
<div class="functional">
    <button type="button" class="btn btn-primary functional_button" id="addtr">Add Travel</button>
    <button type="button" class="btn btn-primary functional_button"  id="addbl" >Block Country</button>
    
<div class="card text-white bg-success mb-3 grid-item"  id="visibleAdd" >
  <div class="card-header">Add Travel</div>
  <div class="card-body">
    <div class="form-group" id="countryAddselector">
    </div>
    <label for="date_travel" class="form-label mt-4">Date Travel</label>
     <input type="text" class="form-control change" id="date_travel" name="date birthday" placeholder="Date Travel">
  </div>
  <button type="button" class="btn btn-primary" id="saveTravel">Save</button>
</div>

  <div class="card text-white bg-success mb-3 grid-item"  id="visibleblock">
  <div class="card-header">Block Country</div>
  <div class="card-body">
    <div class="form-group" id="countryBlock" >
    </div>
  </div>
  <button type="button" class="btn btn-primary" id="blockTravel">Save</button>
</div>

</div>
<script src="/js/InformationPerson.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>